[Unit]
Description=EnOcean MQTT Forwarder
After=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/bin/enoceanmqtt
Restart=always
RestartSec=300
WorkingDirectory=/root/enocean-mqtt
User=root

[Install]
WantedBy=multi-user.target
